# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../ThreadingJava\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\tuto\ThreadingJava\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
